# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Python files
data/generated/synthetic_transactions.csv
spark_dataframe_test.py
spark_test.py
